<h3>Diagnosis Related Groups</h3>

<table id="sortTable" class="table table-striped table-border table-hover">
<thead>
  <tr>
    <th>Code</th>
    <th>Description</th>
  </tr>
</thead>
<% @drgs.each do |drg| %>
  <tr>
    <td><%= link_to drg.code, drg %></td>
    <td><%= link_to drg.description, drg %></td>
  </tr>
<% end %>
</table>

<%= render "shared/pager" %>


