
<% if Rails.env.production? %>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* HCC large rect */
google_ad_slot = "1263987281";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<% else %>

<div style="width:336px;height:280px;background-color:#ccc;">Ads</div>

<% end %>
