<a name="definitions"></a><br/><br/>
<table class="table table-bordered">
<thead>
	<tr>
		<td colspan="2"><strong>Data Definitions</strong> (<%= link_to "data source - http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html", "http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html", :target => "blank" %>)</td>
	</tr></thead><tbody><tr>
		<th><small>DRG</small></th>
		<td><small>Code and description identifying the DRG. DRGs are a classification system that groups similar clinical conditions (diagnoses) and the procedures furnished by the hospital during the stay.</small></td>
	</tr><tr>
		<th><small>Discharges</small></th>
		<td><small>The number of discharges billed by the provider for inpatient hospital services.</small></td>
	</tr><tr>
		<th><nobr><small>Average Covered Charges</small></nobr></th>
		<td><small>The provider's average charge for services covered by Medicare for all discharges in the DRG. These will vary from hospital to hospital because of differences in hospital charge structures.</small></td>
	</tr><tr>
		<th><small>Average Total Payments</small></th>
		<td><small>The average of Medicare payments to the provider for the DRG including the DRG amount, teaching,  disproportionate share, capital, and outlier payments for all cases.  Also included in Total  Payments are co-payment and deductible amounts that the patient is responsible for and payments by third parties for coordination of benefits.</small></td>
	</tr></tbody>
</table>