<!-- pager -->
<div id="pager<%= pager %>" class="pager form-horizontal">
	<button class="btn first"><i class="icon-angle-left"></i></button>
	<button class="btn prev"><i class="icon-double-angle-left"></i></button>
	<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
	<button class="btn next"><i class="icon-angle-right"></i></button>
	<button class="btn last"><i class="icon-double-angle-right"></i></button>
	<select class="pagesize input-mini" title="Select page size">
		<option selected="selected" value="10">10</option>
		<option value="50">50</option>
		<option value="100">100</option>
		<option value="5000">View All</option>
		<option value
	</select>
	<select class="pagenum input-mini" title="Select page number"></select>
</div>
