<h1>Listing costs</h1>

<table>
  <tr>
    <th>Drg code</th>
    <th>Hospital ext</th>
    <th>Year</th>
    <th>Total discharges</th>
    <th>Average total payment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

