<% title "has United States Hospital Listings for Medical Procedues and Surgery Prices" %>
<% description 'Listing of American Hospitals - compare their surgery costs. Show what medicare paid for hospital bills and see how your local hospital compares by rank and percentile.' %>
<% keywords "health cover compare, data source, billing informatiom, chargemaster rates, billing advocate, advocate billing, doctors billing, care prices, medicare billing, surgery costs, costs of healthcare, care prices, compare health costs, most expensive hospitals, low cost hospital, healthcare costs, health care costs, surgery" %>

  <h2>About Hospital Cost Compare</h2>
  <p class="lead">Compare hospital cost data across American Hospitals</p>
  <p>On May 8, 2013, the Centers for Medicare and Medicade <%= link_to "released data", "http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html", :target => "blank" %> showing what over 3000 U.S. Hospitals billed Medicare for the top 100 Diagnosis Related Groups (<%= link_to "DRGs", "http://en.wikipedia.org/wiki/Diagnosis-related_group", :target=>"blank" %>) along with what Medicare actually reimbursed. This data represents over 163,000 individual price points across the U.S. and shows wildly different rates for the same procedures. HopsitalCostCompare.com allows you to drill down through the specific data to see how your local <a href="/hospitals/">Hospital</a> compares and see how much the same diagnosis costs around the country..</p>

  <p>Read more about the release of this data:
	<ul>
		<li><a href="http://www.nytimes.com/2013/05/08/business/hospital-billing-varies-wildly-us-data-shows.html?pagewanted=all&_r=0" target="_blank">New York Times</a></li>
		<li><a href="http://www.marketplace.org/topics/your-money/health-care/us-releases-data-showing-striking-differences-hospital-prices" target="_blank">Marketplace</a></li>
		<li><a href="http://www.huffingtonpost.com/2013/05/08/hospital-prices-cost-differences_n_3232678.html" target="_blank">Huffington Post</a></li>
		<li><a href="http://www.cbsnews.com/8301-204_162-57583467/hospital-costs-can-vary-more-than-$200000-for-same-procedure-government-report-reveals/" target="_Blank">CBS News</a></li>
		<li><a href="http://blogs.marketwatch.com/encore/2013/05/08/medicare-spills-beans-on-hospital-billing/" target="_blank">MarketWatch</a></li>
		<li><a href="http://www.forbes.com/sites/toddhixon/2013/05/22/what-the-governments-big-data-dump-tells-us-about-the-hospital-market/" target="_blank">Forbes</a></li>
		<li><a href="http://money.cnn.com/2013/05/08/news/economy/hospital-bills/index.html" target="_blank">CNN</a></li>
		<li><a href="http://www.washingtonpost.com/blogs/wonkblog/wp/2013/05/08/one-hospital-charges-8000-another-38000/" target="_blank">Washington Post</a></li>
		<li><a href="http://vitals.nbcnews.com/_news/2013/05/08/18124810-new-hospital-data-shows-giant-swings-in-prices?lite" target="_blank">NBC News</a></li>
		<li><a href="http://www.usnews.com/news/newsgram/articles/2013/05/08/medicare-hospital-billing-data-shows-heart-stopping-price-differences" target="_blank">U.S. News and World Report</a></li>
		<li><a href="http://www.healthleadersmedia.com/page-1/HEP-292001/CMS-Releases-Hospital-Pricing-Data##" target="_blank">Health Leaders Media</a></li>
	</ul>	
	</p>

<div clas="row"><div class="span12 text-center" >
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* hcc970 */
google_ad_slot = "8636594082";
google_ad_width = 970;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div></div>

This site is created and maintained by Paul Reilly (<a href="http://twitter.com/pmreil/" target="_blank">@pmreil</a>)

<%= render "shared/definitions" %>
