<% description 'HospitalCostCompare.com. Average chargemaster costs and medicare payments from the Centers for Medicare and Medicaid. Compare hospital costs in the US' %>
<% keywords "hospitalcostcompare data source, centers for medicare and medicaid, chargemaster rates, medicare rates, compare health costs, most expensive hospitals, compare united states hospitals, hospital costs" %>

<div id="hero-pad"></div>
<div class="hero-unit">
  <h1>Hospital Cost Compare</h1>
  <p>Compare hospital cost data across American Hospitals</p>
  <p><a href="/hospitals/" class="btn btn-primary btn-large">Search Hospitals</a></p>
</div>

 <p>On May 8, 2013, the Centers for Medicare and Medicade <%= link_to "released data", "http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html", :target => "blank" %> showing what over 3000 U.S. Hospitals billed Medicare for the top 100 Diagnosis Related Groups (<%= link_to "DRGs", "http://en.wikipedia.org/wiki/Diagnosis-related_group", :target=>"blank" %>) along with what Medicare actually reimbursed. This data represents over 163,000 individual price points across the U.S. and shows wildly different rates for the same procedures. HopsitalCostCompare.com allows you to drill down through the specific data to see how your local <a href="/hospitals/">Hospital</a> compares and see how much the same diagnosis costs around the country..</p>

<p>Search <a href='/hospitals'>over 3000 U.S. hosptals</a> by region and drill down into the diagnosis costs. Search <a href="/drgs/">diagnoses groups</a> to compare costs across hospitals.</p>