<div class="hero-unit">
  <h1>Hospital Cost Compare</h1>
  <p>Compare hospital cost data across American Hospitals</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>


<%= render "shared/definitions" %>

