$navbarBackgroundHighlight:       #000000;
$navbarText:                      #ffffff;
$navbarLinkColor:                 #ffffff;
$navbarLinkColorHover:            #D26800;
$headingsColor:                   #036AB2;
$headingsFontFamily:      'Titillium Web';
$linkColor:                       #036AB2;
$linkColorHover:                  #D26800;
$footerBackground:                #036AB2;

@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

//$navbarBackground: #5CBC00;
$navbarBackground: $footerBackground;

// This doesn't work. Navbar will still be same color.
// But if you do write styles for navbar again
.navbar-inner { background: $navbarBackground; }
// Now, Navbar will have a red background


h1 {
  font-size:22px;
}


      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        background-color: $footerBackground;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 35px;
      }

      #hero-pad { height:25px;}

      #footer > .container {
        padding-top:10px;
        color:$white;
      }
      #footer A.link, #footer A:active, #footer A:visited { color:$white; }
      A.footerlink { color:$white; }


.feedEkList {
  list-style:none outside none;
  margin:0;
}
.feedEkList li{ border-bottom:1px solid $grayLighter;padding:5px 0;font-size:13px;}

.itemTitle { display: inline; }

.itemTitle a{}

.itemDate{ display:inline;padding-left:10px; } 

.tablesorter-bootstrap th, .tablesorter-bootstrap td {
  font-size:12px;     
  padding:6px;
  line-height:12px;
}

.tablesorter-bootstrap .tablesorter-header, .tablesorter-bootstrap tfoot th, .tablesorter-bootstrap tfoot td {
  font-size:12px;
}

.tablesorter-bootstrap .tablesorter-header-inner {
  padding: 0;
}

.tablesorter-bootstrap input {
  font-size:11px;
}