<% title "Outpatient Diagnosis and Surgery Procedure List - see what hospital has the lowest cost" %>
<% description 'CMS.gov released medical billing data for the top 30 Outpatient Ambulatory Payment Classification Codes (APC). Click an APC from the list below to see how much different U.S. hospitals charged for these procedures. Click to compare hospital costs in the United States' %>
<% keywords "outpatient surgery costs, surgery billing, chargemaster rates, medicare rates, compare health costs, most expensive hospitals" %>

<h3>Ambulatory Payment Classificiation Codes</h3>

<p class="lead">The <a href="http://www.cms.gov/" target="_blank">Centers for Medicare and Medicaid Services</a> released hospital billing data for the top 30 outpatient surgeries and procedures of 2011. Click a surgeryu or procedure from the list below to compare what different U.S. hospitals billed.</p>

<div class="text-center">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* hcc970 */
google_ad_slot = "8636594082";
google_ad_width = 970;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

<table id="sortTable" class="table table-striped table-border table-hover">
<thead>
  <tr>
    <th>APC Code</th>
    <th>Outpatient Procedure Ambulatory Payment Classification (APC) Description</th>
  </tr>
</thead>
<% @apcs.each do |apc| %>
  <tr>
    <td><%= link_to "APC #{apc.code}", apc %></td>
    <td><%= link_to apc.uc_description, apc %></td>
  </tr>
<% end %>
</table>

<%= render "shared/pager" %>

<script>

$(document).ready(function() {
  // call the tablesorter plugin and apply the uitheme widget
  $("#sortTable").tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    theme : "bootstrap",

    widthFixed: true,

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    widgets : [ "uitheme", "filter", "zebra" ],

    widgetOptions : {
      // using the default zebra striping class name, so it actually isn't included in the theme variable above
      // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
      zebra : ["even", "odd"],

      // reset filters button
      filter_reset : ".reset"

      // set the uitheme widget to use the bootstrap theme class names
      // this is no longer required, if theme is set
      // ,uitheme : "bootstrap"

    }
  })
  .tablesorterPager({

    // target the pager markup - see the HTML block below
    container: $(".pager"),

    // target the pager page select dropdown - choose a page
    cssGoto  : ".pagenum",

    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,

    // output string - default is '{page}/{totalPages}';
    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

  });
});

</script> 
